html{
	scroll-behavior: smooth;
}



.main {
  background-image: -webkit-linear-gradient(-20deg, #612466 60%, #FFFFFF 40%);
  min-height: 800px;
  opacity: 0;
 	
}

.main #title{
	color: white;
	font-weight: bold;
	font-size: 100px;
	
	padding-top: 80px;
	padding-left: 100px;

	letter-spacing: 2px;
}

.main hr{
	border-color: white;
	max-width: 600px;
	margin-top: 50px;
	margin-left: 100px;
	border-width: 5px;
}


.main h1{
	color: white;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 100px;
	font-size: 30px;
	
	
	letter-spacing: 2px;
}

.main h1{
	color: white;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 100px;
	font-size: 30px;
	
	letter-spacing: 2px;
}

.main #base{
	position: absolute;
	left: 1100px;
	top: 325px;
}

.main #light{
	position: absolute;
	left: 1135px;
	top: 150px;
}

button{
	position: absolute;
	padding: 10px;
	top:550px;
	left: 100px;
	background-color: white;
	height: 80px;
}


button p{
	color: #612466;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 40px;
}

.mid{
	min-width: 1440px;
	min-height: 800px;
}

.mid h1{
	font-size: 100px;
	color: black;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 100px;
}

.banner{
	margin-top: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #612466;
}

.row{
	margin-left: 50px;
	margin-right: 50px;

}
#aa{
	min-width: 50px;
	min-height: 300px;
}



.lc{
	min-width: 1440px;
	min-height: 800px;
}

.lc h1{
	font-size: 100px;
	color: black;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
}

.lc h2{
	padding-top: 50px;
	line-height: 2.5;
	font-size: 30px;
	color: white;
	
}

#bb{
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 400px;

}

#blah{
	background-color: #612466;
	margin: 0;
	padding-bottom: 0;
}

.contact{
	height: 400px;
	background-color: white;
}

.contact h1{
	color: black;
	text-decoration: underline;
	padding-bottom: 50px;
}

.contact h2{
	color: black;
	padding-left: 100px;
	font-weight: 500;

}
